<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_STORE_OR_AD_HOC_BUILD</key>
	<true/>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>5UIYge4nR_KBTN1YR_EeVw</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>sy6st5ovQn2slxUWAnEe1g</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>covv__miT8G3WOL1DHRvPQ</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>eAidwg4STtayPFFZsRFyiw</string>
</dict>
</plist>
